<% layout("/layouts/boilerplate.ejs") %>            <%# Use boilerplate.ejs as the layout for this page.%>

<body>
    <h3>All Listings</h3>

    <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form>

    <ul>
        <% for (const listing of AllListings) { %>
            <li><a href="/listings/<%=listing._id %>"><%= listing.title %></a></li>
        <% } %>
    </ul>
</body>


