<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a New Listing:</h3>

<!-- <form method="POST" action="/listings">
    <input type="text" placeholder="enter title" name="title"><br><br>
    <textarea type="text" placeholder="enter description" name="description"></textarea><br><br>
    <input type="text" placeholder="enter image URL/Link" name="image"><br><br>
    <input type="number" placeholder="enter price" name="price"><br><br>
    <input type="text" placeholder="enter location" name="location"><br><br>
    <input type="text" placeholder="enter country" name="country"><br><br>
    <button>Add</button>
</form> -->

<form method="POST" action="/listings">
    <input type="text" placeholder="enter title" name="listing[title]"><br><br>     <%# listing[title] ⮕ Express will create: req.body.listing.title ... same for everybody %>
    <textarea type="text" placeholder="enter description" name="listing[description]"></textarea><br><br>
    <input type="text" placeholder="enter image URL/Link" name="listing[image]"><br><br>
    <input type="number" placeholder="enter price" name="listing[price]"><br><br>
    <input type="text" placeholder="enter location" name="listing[location]"><br><br>
    <input type="text" placeholder="enter country" name="listing[country]"><br><br>
    <button>Add</button>
</form>

</body>
</html>
